---
const {
  h3,
  title,
  desc,
  image,
  alt,
  imagePosition,
  class: additionalClass,
} = Astro.props;

import Line from "../components/Line.astro";
import "../styles/global.css";
import GradientTitle from "../components/GradientTitle.astro";
import SubTitle from "../components/SubTitle.astro";
import Text from "../components/Text.astro";
---

<div
  class={`pt-50 flex flex-col md:flex-row justify-between items-center ${additionalClass} ${
    imagePosition === "left" ? "md:flex-row-reverse" : ""
  } gap-x-[6rem] `}
>
  <div class="w-full md:w-[60%]">
    <GradientTitle text={h3} />
    <SubTitle text={title} />
    <Line />
    <Text text={desc} />
  </div>

  <img src={image} alt={alt} class="w-full md:w-[40%] mt-4 md:mt-0" />
</div>

<style>

</style>